* {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: rgb(177, 177, 255);
}

.main {
  background-color:white;
  width:800px;
  margin:20px auto;
  padding: 20px;
  border:solid 2px darkblue;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
}

.main-heading {
  text-align: center;
}

.content {
  font-size: 20px;
  padding: 10px;
  margin: 0px 0px;
}

.index-ul {
  display:table;
  margin:10px auto;
}

.index-ul li {
  display: inline-block;
  list-style-type: none;
  border: solid 1px black;
  padding: 10px;
  margin: 10px;
  background-color:rgb(255, 217, 177);
  color:black;
}

.recipe-image {
  display:inline-block;
  max-width:300px;
  margin:20px auto;
  padding: 0px;
  vertical-align:top;
}

.recipe-image img {
  height:100%;
  width:100%;
}

.recipe-stats ul {
  list-style-type:none;
  display:table;
  margin:10px auto;
  }

.recipe-stats li {
  display:inline-block;
  padding:0 10px;
}

.right-wrapper {
  display:inline-block;
  max-width:450px;
}

.recipe-description {
  padding: 10px;
}

.allrecipes-link {
  display:inline-block;
  border: solid 1px black;
  padding: 10px;
  margin:10px 150px;
  background-color:rgb(255, 217, 177);
  color:black;
}